.div-display {
    background: #7a7979;
    color: floralwhite;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 26px 0px;
    width: 35%;
    margin-left: 32%;
}